set sv_environment prod # dev/prod

#
# Error Logging
# level 1 'trace'
# level 2 'info'
# level 3 'warn'
# level 4 'error'
# level 5 'critical'
setr log_level 3

# Pulsar Framework Version
setr pfw_version 1.0.0

# Casino Open/Close
set casino_open true

# Sets Discord App ID for Rich Presence
setr discord_app ""

# Sets phone selfie mode webhook
set phone_selfie_webhook ""
set phone_selfie_token ""
set evidence_selfie_webhook ""

# Removes player join/quits messages from chat
set chat_showQuits 0
set chat_showJoins 0

setr game_enableFlyThroughWindscreen true
setr game_enablePlayerJumpRagdollControl true
setr game_enablePlayerRagdollOnCollision true
setr sv_showBusySpinnerOnLoadingScreen false
setr profile_skfx 0
setr profile_gfxCityDensity 0
setr profile_gfxPopVariety 0

sets motd "Welcome to Pulsar Framework!"

set winter_only "false"

set WS_MDT_ALERTS "http://localhost:4002/mdt-alerts"
